{% extends 'base.html' %}

{% block content %}
<h3>Menu</h3>
  <ul>

    <li>
      <a href="{% url 'create_form' %}">Create new profile</a>
    </li>
      <li>
      <a href="{% url 'search_form' %}?employee_id=">Search/update profile</a>
    </li>
            <li>
      <a href="{% url 'search_for_verification_form' %}?employee_id=">Verify through photo</a>
    </li>
  </ul>

  <h3>Created records</h3>
 
<table>
  <tr>
    <th>ID </th>
    <th>  First Name</th> 
    <th>  Last Name</th>
    <th>  Profile Picture</th>

  </tr>




    {% for obj in documents %}
      <tr>
             
<td>{{ obj.employee_id }} </td>
          
        <td>{{ obj.firstname }}   </td>  
         <td>{{ obj.lastname }}</td> 
         <td><img src="{{ obj.photo.url }}" width="150" height="100"   ></td> 



      </tr>
    {% endfor %}
</table>

{% endblock %}