{% extends 'base.html' %}

{% block content %}
  <ul>

    <li>
      <a href="{% url 'model_form_upload' %}">Create new profile</a>
    </li>
      <li>
      <a href="{% url 'search_form' %}?pk=">Search/update profile</a>
    </li>
  </ul>

  <p>Created records</p>
 
  <ul>
    {% for obj in documents %}
      <li>
              <a href="{% url 'model_form_upload' %}">
(First Name: {{ obj.firstname }})(   Last Name: {{ obj.lastname }})</a>
          <img src="{{ obj.photo.url }}" width="200" height="150"   >



      </li>
    {% endfor %}
  </ul>
{% endblock %}