{% extends 'base.html' %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
      <p><label for="firstname">Employee ID:</label>
            {{employee_id}}
</p>


    {{ form.as_p }}


    <button type="submit">Save</button>
  </form>
{% if one_face %}
   <p>The picture is valid, profile is updated successfully!</p>
{% elif no_face %}
   <p>The picture is invalid, no face is recognized, please select a valid picture</p>
{% else %}
   <p>The picture is invalid, more than one face are detected, please select a valid picture</p>
{% endif %}
<img src="data:image/png;base64,{{image_drawn}}" width="500" height="450" />

  <p><a href="{% url 'home' %}">Return to home</a></p>

{% endblock %}