{% extends 'base.html' %}

{% block content %}




 <p><label for="id_employee_id">Employee ID:</label> <input type="text" readonly name="employee_id" value="{{employee_id}}" maxlength="10" id="id_employee_id" /></p>

 <p><label for="id_firstname">First Name:</label> <input type="text" readonly name="firstname" value="{{firstname}}" maxlength="255" id="id_firstname" /></p>

<p><label for="id_lastname">Last Name:</label> <input type="text" readonly name="lastname" value="{{lastname}}" maxlength="255" id="id_lastname" /></p>

<p><label for="id_department">Department:</label> <input type="text" readonly name="department" value="{{department}}" maxlength="255" id="id_department" /></p>
<img src="data:image/png;base64,{{image1}}" width="500" height="450" />


 {% if image2 %}
 {% if match %}
   <p>Matched!</p>
{% else %}
   <p>Cannot verify with the provided picture</p>
{% endif %}
<img src="data:image/png;base64,{{image2}}" width="500" height="450" />
{% endif %}

 <form method="post" enctype="multipart/form-data" action="/verify/form/">
         {% csrf_token %}


<p><label for="id_photo">Select a photo to verify: </label> <input type="file" name="photo"  id="id_photo" /></p>
     <input type="hidden"  name="employee_id" value="{{employee_id}}" maxlength="10" id="id_employee_id" />

         <button type="submit">Submit </button>

  </form>



  <p><a href="{% url 'home' %}">Return to home</a></p>

{% endblock %}